@import url('https://fonts.googleapis.com/css?family=Sniglet');
@import url('https://fonts.googleapis.com/css?family=Knewave');
html {
  padding: 10%;
  position: absolute;
  min-height: 50%;
  border-radius: 25px;
  background-color: black;
  
}


/* div {
  text-align:center;
  vertical-align:middle;
} */
body {
    /* position: relative;
    left: 40px; */
    background-color: midnightblue;
    
}
.container {
    background-color: midnightblue;
}
.container h1 {
  font-family: 'Sniglet', cursive;
  color: #AFFCF4;
  font-size:2.1rem;
  display: inline-block;
  text-shadow:0 .5rem .5rem rgba(0,0,0,.5);
  border:.2rem solid #FABBAA;
  padding:1.2rem 2.1rem 1.4rem;
  border-radius:1rem;
  box-shadow:
	inset 0 0 6px #BA051A,
	inset 0 0 40px rgba(186,5,26, 0.3),
  inset 0 0 100px rgba(186,5,26, 0.5),
  0 0 6px #BA051A,
	0 0 40px rgba(186,5,26, 0.3),
  0 0 100px rgba(186,5,26, 0.5);
  text-shadow:
	0px 0px 5px #318BF7,
	0px 0px 10px #318BF7,
	0px 0px 10px #318BF7,
	0px 0px 80px rgba(49,139,247, 0.6),
	0px 0px 100px rgba(49,139,247, 0.9);
  z-index:1;
  position:relative;
}
.container h1 {
  font-size:3rem;
  font-family: 'Knewave';
  color:#FABBAA;
  text-shadow:
	0 0 6px #BA051A,
	0 0 40px rgba(186,5,26, 0.3),
  0 0 100px rgba(186,5,26, 0.5);
}
h1 span {
   color:#95d7d0;
   text-shadow:0px 0px 5px #333;
/*     animation: buzzing .4s infinite; */
}
@keyframes buzzing {
  0% {
    color:#333;
    text-shadow:0px 0px 5px #333;
  }
/*   100% {
    color: #AFFCF4;
    text-shadow:
    0px 0px 5px #318BF7,
    0px 0px 10px #318BF7,
    0px 0px 10px #318BF7;
  } */
}

    
}
p {
    text-align: match-parent;
    font-weight: 500;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-stretch: expanded;
    color: ghostwhite;
}

#sample-metadata p {
  color: black;
  font-size: large;
}  
  .tooltip {
    position: absolute;
    width: 138px;
    height: 62px;
    padding: 2px;
    padding-top: 2px;
    padding-left: 2px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: deepskyblue;
    border: 0;
    border-radius: 10px;
  }
  
#chart {
    background-color: snow;
}
  .axis-text {
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
    fill: black;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    font-size: x-large;
    fill: #000;
    fill: black;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-size: large;
    font-weight: lighter;
    fill: midnightblue;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #e75480;
    cursor: pointer;
  }
  
  /* font size dependent on radius, see app.js */
.stateText {
    font-family: sans-serif;
    fill: black;
    text-anchor: middle;
    font-size: 12px;
  }
  
  .stateCircle {
    fill: forestgreen;
    stroke: black;
    border: 5px solid;
  }
  
  .stateCircle:hover {
    color: midnightblue;
  }
.x-axis {
    font-size: medium;
}
.y-axis {
    font-size: medium;
}
#demo-svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#footText p {
  color: #e75480;
  font-size: medium;
}
#footText a {
  font-size: medium;
}
#footer {
  background-color: midnightblue;
}
.chartText p {
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

