html {
    padding: 10%;
    position: absolute;
    min-height: 50%;
    border-radius: 25px;
    background-color: black;
    
  }
body {
    /* position: relative; */
    padding-bottom: 80px;
    
}
.container {
    background-color: black;
}
.container h1 {
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: ghostwhite;
}
p {
    text-align: match-parent;
    font-weight: 500;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-stretch: expanded;
    color: ghostwhite;
}
  
  .tooltip {
    position: absolute;
    width: 138px;
    height: 62px;
    padding: 2px;
    padding-top: 2px;
    padding-left: 2px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: deepskyblue;
    border: 0;
    border-radius: 10px;
  }
  
#chart {
<<<<<<< HEAD
    background-color: paleturquoise;
=======
    background-color: lightcyan;
>>>>>>> c211cdf182e79c71b264c0554043fb6323507402
}
  .axis-text {
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
    fill: midnightblue;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    font-size: large;
    fill: #000;
    fill: midnightblue;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-size: large;
    font-weight: lighter;
    fill: midnightblue;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #e75480;
    cursor: pointer;
  }
  
  /* font size dependent on radius, see app.js */
.stateText {
    font-family: sans-serif;
    fill: black;
    text-anchor: middle;
    font-size: 12px;
  }
  
  .stateCircle {
<<<<<<< HEAD
    fill: silver;
=======
    fill: royalblue;
>>>>>>> c211cdf182e79c71b264c0554043fb6323507402
    stroke: black;
    border: 5px solid;
  }
  
  .stateCircle:hover {
    color: midnightblue;
  }
.x-axis {
    font-size: medium;
}
.y-axis {
    font-size: medium;
}
#demo-svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s linear alternate infinite;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
<<<<<<< HEAD
=======
}
#footText p {
  color: #e75480;
>>>>>>> c211cdf182e79c71b264c0554043fb6323507402
}